header{
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: $antique-white;
    border-bottom: $dark-green 5px solid;
    z-index: 999;

    .header-box{
        display:block;
        width: 100%;
        height: 100%;
        max-width: $block-width;
        margin: auto;
        position: relative;
    }
    h1{
        display: inline-block;
        font-weight: 900;
        font-size: $text-xxl;
    }
    label{
        span{
            font-size: $text-m;
        }
    } 
    #menu-switch{
        position: absolute;
        opacity: 0;
    }
    nav{
        position: absolute;
        right: 15%;
        font-size: $text-m;
        margin-top: 20px;
    }
    .logo{
        position: absolute;
        margin-top: 10px;
        left: 15%;
    }
    .menu{
        position: relative;

        .sub-menu{
            visibility: hidden;
            position: absolute;
            width: 9.5rem;
            margin-top: 4rem;
            background-color: #111;
            padding: 0.75rem 0.5rem;
            opacity: 0;
            transition: $trans-slow $trans-xquick;

            li{
                display: block;

                a{
                    color: $white-01;
                }
                &:hover {
                    .sub-menu-item{
                        background-color: $green-hover;
                    }
                    .sub-menu-02{
                        visibility: visible;
                        left: 160px;
                        opacity: 1;
                        transition: $trans-slow $trans-xquick;
                    }
                }
            }
            i{
                margin-left: 60px;
            }
            .sub-menu-02{
                visibility: hidden;
                position: absolute;
                width: 140px;
                bottom: 0;
                left: 200px;
                background-color: $black-02;
                padding: 12px 8px;
                opacity: 0;
                transition: $trans-slow $trans-xquick;

                li{
                    &:hover{
                        a{
                            background-color: $green-hover;
                        }
                    }
                }
            }
        }
        .menu-item{
            text-align: center;

            &:hover{
                color: $black-01;
            }
        }
        li{
            display: inline-block;
            vertical-align: top;
            
            a{
                display: block;
                padding: 0.25rem 0.5rem;
                text-decoration: none;
                color: $green-hover;
            }
            &:hover{
                .sub-menu{
                    visibility: visible;
                    margin-top: 24px;
                    opacity: 1;
                    transition: $trans-slow $trans-xquick;
                }
            }
        }
    }
}
