.section02{
    display: inline-block;
    width: 100%;
    h3{
        span{
            &:first-of-type{
                font-size: 8rem;
            }
            &:last-child{
                display: inline-block;
                line-height: $line-height-m;
            }
        }
    } 
    .content-container{
        width: 100%;
        max-width: $block-width;
        margin: auto;
        margin-bottom: 40px;
    }
    .service-block{
        display:inline-block;
        position: relative;
        width: 100%;
    }
    .service-content-text{
        display: inline-block;
        width: calc(100% - #{$block-text-width});
        height: 100%;
        min-height: $block-text-height;
        padding: 120px 30px;
        vertical-align: top;
        background-color: $grey-07;

        h2{
            font-size: $text-xl;
            line-height: $line-height-m;
        }
        div{
            font-size: $text-ml;
        }
    }
    .service-item{
        width: 320px;
        font-size: $text-m;
    }
    .service-advantage{
        display: block;
        margin-top: 100px;
        margin-bottom: 20px;
        width: 100%;
    }
}