.section05{
    display: inline-block;
    width: 100%;
    
    .service-list-block{
        display:block;
        width: 100%;
        max-width: $block-width;
        margin: auto;
    }
    .service-content{
        display: inline-block;
        width: 100%;
        text-align: start;
    }   
    .service-detail{
        display: inline-block;
        vertical-align: top;
        text-align: start;
    }
    .service-list{
        display: block;
        padding-top: 3rem;

        a{
            display: block;
            line-height: $line-height-l;
        }
    }
    .service-list-title{
        line-height: $line-height-m;
    }
    .service-detail-item{
        display: block;
        width: 100%;
        height: 100%;
    }
    .service-detail-item-text{
        display: inline-block; 
        line-height: $line-height-m;
        vertical-align: top;
        margin-left: 2.25rem;
        margin-top: 3.75rem;
    }
}